@import "tailwindcss";
@plugin "tailwindcss-motion";
body {
  @apply bg-stone-300 text-stone-950
}

@keyframes rotateShadow {
  0% {
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.8);
  }
  25% {
    box-shadow: 5px -5px 1px rgba(0, 0, 0, 0.8);
  }
  50% {
    box-shadow: -5px -5px 1px rgba(0, 0, 0, 0.8);
  }
  75% {
    box-shadow: -5px 5px 1px rgba(0, 0, 0, 0.8);
  }
  100% {
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.8);
  }
}

.div-responsividade{
  @apply w-[90%] max-w-4xl mx-auto;
}

.div-design {
  animation: rotateShadow 64s infinite linear;
  @apply bg-white border border-stone-950;
}

.image-filter{
  @apply object-cover object-center filter grayscale hover:grayscale-0 transition-all duration-300;
}

.image-filter-group{
  @apply object-cover object-center filter grayscale group-hover:grayscale-0 transition-all duration-300;
}